@import "compass";

$card_width: 250px;
$card_height: 50px;
$card_padding: 6px;

$block_width: 300px;
$block_padding: 10px;

$name-block_width: 240px;
$name-block_padding-left: 60px;
$name-block_padding-right: 10px;

$user_height: $card_height * 2 + 44;
$user_padding-height: 10px;

$background-first-color: #d3add3;
$background-second-color: #bf90bd;

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.main {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: $background-first-color;
  @include background-image(linear-gradient(right, $background-second-color, $background-first-color));
  @include filter-gradient($background-second-color, $background-first-color, vertical);
}

.container {
  margin-top: 20px;
}