@import "compass";

$background-first-color: #fceaff;
$background-second-color: #fae0ff;
$background-basic-color: #fdfdfd;

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.main {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: $background-basic-color;
//  @include filter-gradient($background-second-color, $background-first-color, vertical);
//  @include background-image(linear-gradient(right, $background-first-color 0%, $background-second-color 50%, $background-first-color 100%));
}

.container {
  margin-top: 20px;
}