$navbar-bg-color: #795548;
$navbar-border-color: #795548;
$navbar-color: #fff;
$toolbar-bg-color: #3E2723;
$body-bg-color: #EFEBE9;
$toggle-button-border-color: #6D4C41;
$toggle-button-bg-color: $body-bg-color;

$stage-block-horizontal-margin: 30px;
$issue-toggle-wrapper-size: 70px;

$ribbon-bg-color: #3F51B5;
$ribbon-bg-color--wip-limited: #f44336