@import "compass/reset";
@import "basic";
@import "mini-menu";
@import "variables";

$card_width: 300px;
$card_height: 50px;
$card_padding: 6px;

$block_width: 300px;
$block_padding: 10px;

$name-block_width: 240px;
$name-block_padding-left: 60px;
$name-block_padding-right: 10px;

$user_height: $card_height * 2 + 45;
$user_padding-height: 20px;
$user_margin-bottom: 30px;

$user-height: $user_height + 15;

$issue-block_right-margin: 60px;

$three-stage-blocks-padding: 40px;

html, body{
  height: 100%;
}

body{
  // overflow-y: hidden;
  background-color: $body-bg-color;
}

#toolbar{
  @extend .navbar;
  background: $toolbar-bg-color;
  box-shadow: none;
  position: fixed;
  top: 50px;
  z-index: 2;
  width: 100%;
}

#project-name{
  @extend .navbar-text;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 50px;
  height: 50px;
  a{
    color: #fff;
    display: block;
  }
}

#toolbar-btn-group{
  margin-right: 15px;
  button{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    .glyphicon{
      vertical-align: -1px;
    }
    &:hover{
      background-color: rgba(#fff, .3);
    }
  }
}

#issue-toggle-wrapper{
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
  z-index: 11;
  width: $issue-toggle-wrapper-size;
  button{
    height: 100%;
    width: 100%;
    font-size: 4rem;
    border: none;
    border-right: 1px solid $toggle-button-border-color;
    background-color: transparent;
    outline: none;
    color: #fff;
    text-shadow: 0 0 10px #999;
    transition: all .2s ease-in-out;
    background-color: $toggle-button-bg-color;
    box-shadow: 1px 0 10px #999;
    &:hover{
      background-color: darken($toggle-button-bg-color, 5%);
      text-shadow: 0 0 15px #888;
    }
    .glyphicon {
      transition: all .2s ease-in-out;
      &.reverse {
        @include rotate(180deg);
      }
    }
  }
}

#main{
  height: calc(100% - 100px);
  position: relative;
  z-index: 1;
  width: ($block_width + $stage-block-horizontal-margin * 2) * 5 + $issue-toggle-wrapper-size + $stage-block-horizontal-margin * 2;
  transition: width .2s ease-in-out;
  &.open{
    width: ($block_width + $stage-block-horizontal-margin * 2) * 6 + $issue-toggle-wrapper-size + $stage-block-horizontal-margin * 2;
  }
}

.blocks {
  transition: all .3s ease-in-out;
  position: relative;
  float: left;
  // margin-left: -($block_width + $stage-block-horizontal-margin);
  height: 100%;
  &.open{
    // margin-left: $stage-block-horizontal-margin;
  }
  &::after{
    clear: both;
    display: table-cell;
    content: '';
  }
  .stage-blocks {
    position: relative;
    list-style-type: none;
    height: 100%;
    margin: 0;
  }
}

#issue-block{
  transition: margin-left .2s ease-in-out;
  margin-left: -$block_width;
  &.open{
    margin-left: $stage-block-horizontal-margin * 2;
  }
}

#three-stage-blocks{
  float: left;
  vertical-align: top;
  overflow: auto;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
  .inner-stage-blocks{
    overflow: hidden;
    height: 100%;
    > .stage-block{
      height: 100%;
      .cell-block{
        overflow: visible;
      }
    }
  }
}

.stage-block {
  float: left;
  width: $block_width;
  padding: 0;
  max-height: 100%;
  margin: 0 $stage-block-horizontal-margin;
  overflow: visible;
  background-color: #fefefe;
  box-shadow: 0 0 10px #c0c0c0;
  &#issue-block, &#backlog-block, &#done-block{
    height: 100%;
  }
  .stage-title {
    font-size: 2rem;
    margin: 0 0 1em;
    padding: 1em 20px .8em;
    border-bottom: 1px dashed #c0c0c0;
    color: #494949;
    text-shadow: 0 0 1px #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    .badge {
      vertical-align: 3px;
    }
  }

  &#name-block {
    width: $name-block_width - $name-block_padding-left - $name-block_padding-right;
    margin: 0 $name-block_padding-right 0 $name-block_padding-left;

    .stage-title {
      padding-top: 6px;
      font-size: 18px;
      color: #222;
    }
  }

  &#issue-block {
    &.folded{
      overflow: hidden;
    }
    .issue-block-header {
      padding-left: 21px;
    }
  }

  &#backlog-block {
  }

  &#todo-block {
  }

  &#review-block {
  }

  &#done-block {
  }

  .cell-block {
    $offset: 20px;
    padding: $stage-block-horizontal-margin + 10px $stage-block-horizontal-margin + $offset 1em;
    margin: -$stage-block-horizontal-margin + 10px (-$stage-block-horizontal-margin - $offset) 0;
    list-style-type: none;
    height: calc(100% - 60px);
    overflow: auto;
    .dummy-user-cell-block {
      height: $user-height + 14;
      margin-bottom: $user_margin-bottom;
      padding-top: $user_padding-height;
      padding-bottom: $user_padding-height;
      position: relative;

      &:last-child {
        margin-bottom: $user_margin-bottom;
      }
    }
  }
}

div.user-block-area {
  $offset: 10px;
  position: absolute;
  top: 70px;
  // width: 1000px;
  width: $block_width * 3 + $stage-block-horizontal-margin * 6;
  overflow: auto;
  // overflow: visible;
  height: calc(100% - 70px);
  margin: 0 ($stage-block-horizontal-margin - $offset);
  padding: 0 $offset;
  .user-area-header {
    height: 40px;
    margin: 0 20px;
    padding: 0 50px;
  }

  ul.user-blocks {
    position: relative;

    li.user-block {
      position: relative;
      width: $block_width * 3 + $stage-block-horizontal-margin * 4;
      min-height: 175px;
      z-index: 5;
      &::after{
        clear: both;
        display: table-cell;
        content: '';
      }
      .user-label-area {
        font-size: 1.2rem;
        background-color: $ribbon-bg-color;
        color: #fff;
        padding: 7px 8px 6px;
        position: relative;
        box-shadow: 0 1px 1px #ccc;
        $ribbon-size: 10px;
        $ribbon-offset: 20px;
        &::before{
          content: '';
          width: 0;
          height: 0;
          border: $ribbon-size solid transparent;
          border-top-color: darken($ribbon-bg-color, 0%);
          position: absolute;
          right: $ribbon-offset;
          bottom: -($ribbon-size * 2);
        }
        &.wip-limited{
          background-color: $ribbon-bg-color--wip-limited;
          &::before{
            border-top-color: darken($ribbon-bg-color--wip-limited, 0%);
          }
        }
        .user-name {
          .close {
            font-size: 14px;
            float: none;
          }
          .user-settings-button {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #ccc;
            }
          }
        }
        .wip-limited-message{
          margin-left: 1rem;
        }
      }

      .stage-blocks {
        margin:20px (-$stage-block-horizontal-margin);
        &::after{
          clear: both;
          display: block;
          content: '';
        }
        .stage-block {
          background-color: inherit;
          box-shadow: none;
          margin: 0 $stage-block-horizontal-margin;
          .user-cell-block {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.user-cell-block {
  margin-bottom: $user_margin-bottom;
  padding-top: $user_padding-height;
  padding-bottom: $user_padding-height;
  position: relative;

  .card-list {
    min-height: $card_height * 2 + $card_padding * 4;
    list-style-type: none;
    height: 100%;
    overflow: visible;
  }

  .each-all-issues-view-button {
    display: block;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #fff;
    background-color: #fff;
    transition: all .2s ease;
    &:hover{
      background-color: #f0f0f0;
    }
    .glyphicon {
      font-size: 18px;
      vertical-align: text-top;
    }
  }
}

.card {
  width: $card_width;
  height: $card_height - $card_padding * 2 + 16;
  margin: 0 auto 10px;
  padding: $card_padding;
  background-color: #fefefe;
  @include box-shadow(2px 2px 1px 0px rgba(#000, .1));
  overflow: visible;
  cursor: pointer;
  display: block;
  border-top: 1px solid #f0f0f0;

  &:before {
    content: " ";
    background: #3498db;
    float: left;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: $card_height - $card_padding * 2 + 16;
    width: 15px;
    margin: $card_padding * -1;
  }

  .card-title {
    display: inline-block;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    margin-left: 12px;
    width: $card-width - $card-padding * 2 - 41 - 15;
    height: $card_height - $card_padding * 2 + 16 - 15;
  }

  .mini-menu {
    margin: 0 0 1px 1px;
    font-size: 18px;
    float: right;

    button {
      border-style: none;
    }
  }
}

// description, title, etc...
.container {
  margin-left: 20px;
}

.block-header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

// project

.project-meta {
  margin: 0 0 2px 20px;

  .project-name {
    font-size: 24px;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: bottom;
  }

  .sync-status {
    margin: 0 10px 0 0;
    display: inline-block
  }

  .project-settings-button {
    display: inline-block;
  }
}