@import "compass/reset";
@import "basic";
@import "mini-menu";

$card_width: 250px;
$card_height: 50px;
$card_padding: 6px;

$block_width: 300px;
$block_padding: 10px;

$block_width: 300px;
$block_padding: 10px;

$name-block_width: 240px;
$name-block_padding-left: 60px;
$name-block_padding-right: 10px;

$user_height: $card_height * 2 + 45;
$user_padding-height: 20px;
$user_margin-bottom: 30px;

$user-height: $user_height + 15;

$issue-block_right-margin: 60px;

.blocks {
  position: relative;
  width: $block_width * 6 + $issue-block_right-margin * 2 + 30 + $block_padding * 4;
  padding: 10px 20px;
  margin: 0;
}

.stage-blocks {
  position: relative;
  letter-spacing: -.40em;
  list-style-type: none;
}

.stage-block {
  display: inline-block;
  letter-spacing: normal;
  width: $block_width;
  padding: $block_padding;
  margin: 0;
  vertical-align: top;

  &:nth-child(odd) {
    background: $background-second-color;
  }

  &:nth-child(even) {
    background: $background-first-color;
  }

  .stage-title {
    text-align: center;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 14px;
    color: #222;

    .badge {
      position: absolute;
      display: inline-block;
      vertical-align: top;
      margin-left: 4px;
      background: #999999;
      font-size: 11px;
    }
  }

  &#name-block {
    width: $name-block_width - $name-block_padding-left - $name-block_padding-right;
    margin: 0 $name-block_padding-right 0 $name-block_padding-left;

    .stage-title {
      padding-top: 6px;
      font-size: 18px;
      color: #222;
    }
  }

  &#issue-block {
    @include border-radius(5px 0 0 5px);

    .issue-block-header {
      padding-left: 21px;
    }
  }

  &#backlog-block {
    @include border-radius(0 5px 5px 0);
    margin-right: $issue-block_right-margin;
  }

  &#todo-block {
    @include border-radius(5px 0 0 5px);
  }

  &#review-block {
    @include border-radius(0 5px 5px 0);
    margin-right: $issue-block_right-margin;
  }

  &#done-block {
    @include border-radius(5px);
  }

  .cell-block {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    .dummy-user-cell-block {
      height: $user-height + 14;
      margin-bottom: $user_margin-bottom;
      padding-top: $user_padding-height;
      padding-bottom: $user_padding-height;
      position: relative;

      &:last-child {
        margin-bottom: $user_margin-bottom;
      }
    }
  }
}

div.user-block-area {
  position: absolute;
  top: 0;
  margin: 80px 0 0 $block_width * 2 + $issue-block_right-margin / 2;

  .user-area-header {
    height: 40px;
    margin: 0;
    padding: 0 20px;
  }

  ul.user-blocks {
    position: relative;

    li.user-block {
      position: relative;
      background-color: rgba(242, 242, 242, 0.60);
      width: $block_width * 3 + 50px + 10px + 5px;
      height: $user_height + 15;
      border-radius: 20px;
      margin-bottom: $user_margin-bottom;
      z-index: 5;
      @include box-shadow(2px 2px 2px 0px rgba(#000, .1));

      .user-name {
        font-size: 12px;
        height: 12px + 17;
        color: #222;
        background-color: rgba(229, 229, 229, 0.60);
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 7px 8px 6px 8px;
        @include border-radius(20px 0 20px 0);
        display: inline-block;
        position: absolute;
        z-index: 6;

        .close {
          font-size: 14px;
          float: none;
        }

        .user-settings-button {
          color: #999999;

          &:hover {
            color: #626262;
          }
        }
      }

      .stage-blocks {
        margin-left: 30px;

        .stage-block {
          background-color: inherit;

          .user-cell-block {
            margin: 20px 0 0 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.user-cell-block {
  height: $user_height - $user_padding-height * 2;
  margin-bottom: $user_margin-bottom;
  padding-top: $user_padding-height;
  padding-bottom: $user_padding-height;
  position: relative;

  .card-list {
    list-style-type: none;
    height: 100%;
    overflow: visible;
  }

  .each-all-issues-view-button {
    position: relative;
    display: inline-block;
    color: #999999;
    float: right;
    margin: 4px 21px 0 0;
    padding: 0;

    .badge {
      background: #999999;
      font-size: 11px;
    }
  }
}

.card {
  width: $card_width - $card_padding * 2;
  height: $card_height - $card_padding * 2 + 16;
  margin: 0 auto 10px;
  padding: $card_padding;
  background-color: #fefefe;
  @include box-shadow(2px 2px 1px 0px rgba(#000, .1));
  overflow: visible;
  cursor: pointer;
  display: block;

  &:before {
    content: " ";
    background: #3498db;
    float: left;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: $card_height - $card_padding * 2 + 16;
    width: 15px;
    margin: $card_padding * -1;
  }

  .card-title {
    display: inline-block;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    margin-left: 12px;
    width: $card-width - $card-padding * 2 - 41 - 15;
    height: $card_height - $card_padding * 2 + 16 - 15;
  }

  .mini-menu {
    margin: 0 0 1px 1px;
    font-size: 18px;
    float: right;

    button {
      border-style: none;
    }
  }
}

// description, title, etc...
.container {
  margin-left: 20px;
}

.each-all-issues-view-area-wrap {
  .each-all-issues-view-area {
    display: none;
  }

  &.show {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1040;
    overflow-x: hidden;
    overflow-y: auto;

    .each-all-issues-view-area {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      .each-all-issues-view-inner-area {
        background-color: #505050;
        margin: 30px 60px;
        padding: 20px 40px;
        border-radius: 10px;

        .each-all-issues-view-title {
          color: #fafafa;
          margin-bottom: 10px;
        }

        .card-list {
          list-style-type: none;

          .card {
            display: inline-block;
            margin: 20px;
          }
        }
      }
    }

    .each-all-issues-view-area-back {
      position: fixed;
      margin: 0;
      padding: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .each-all-issues-view-area-back {
    background-color: rgba(255, 255, 255, 0);
    @include transition(background-color 0.15s linear);
  }
}

.block-header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

// project

.project-meta {
  margin: 0 0 2px 20px;

  .project-name {
    font-size: 24px;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: bottom;
  }

  .sync-status {
    margin: 0 10px 0 0;
    display: inline-block
  }

  .project-settings-button {
    display: inline-block;
  }
}