@import "compass";
@import "compass/reset";

$card_width: 250px;
$card_height: 50px;
$card_padding: 6px;

$block_width: 300px;
$block_padding: 10px;

$name-block_width: 240px;
$name-block_padding-left: 60px;
$name-block_padding-right: 10px;

$user_height: $card_height * 2 + 34;
$user_padding-height: 10px;

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blocks {
  position: absolute;
  min-height: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: -.40em;
  width: $block_width * 5 + $name-block_width + 30;
  min-width: 100%;
  list-style-type: none;
  background: #efefef;
  @include background-image(linear-gradient(right, #a5a5a5, #efefef));
  @include filter-gradient(#a5a5a5, #efefef, vertical);
}

.stage-block {
  display: inline-block;
  letter-spacing: normal;
  width: $block_width - $block_padding * 2;
  padding: $block_padding;
  margin: 0;
  vertical-align: top;

  .stage-title {
    text-align: center;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 14px;
  }

  &#name-block {
    width: $name-block_width - $name-block_padding-left - $name-block_padding-right;
    margin: 0 $name-block_padding-right 0 $name-block_padding-left;

    .stage-title {
      padding-top: 5px;
      font-size: 20px;
      color: #808080;
    }
  }

  .cell-block {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    .card {
      width: $card_width - $card_padding * 2;
      height: $card_height - $card_padding * 2;
      margin: 0 auto 10px;
      padding: $card_padding;
      background-color: #e0e0e0;
      border: solid #909090 1px;
      border-radius: 6px;
      cursor: pointer;
      display: block;
    }

    .user-cell-block {
      height: $user_height - $user_padding-height * 2;
      margin-bottom: 40px;
      padding-top: $user_padding-height;
      padding-bottom: $user_padding-height;
      overflow: hidden;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .user-name {
        vertical-align: middle;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 24px;
        font-size: 24px;
        background-color: red;
      }
    }
  }
}