@import "compass";
@import "compass/reset";

$card_width: 250px;
$card_height: 50px;
$card_padding: 6px;

$block_width: 300px;
$block_padding: 10px;

$name-block_width: 240px;
$name-block_padding-left: 60px;
$name-block_padding-right: 10px;

$user_height: $card_height * 2 + 44;
$user_padding-height: 10px;

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: #b9b;
  @include background-image(linear-gradient(right, #969, #b9b));
  @include filter-gradient(#969, #b9b, vertical);
}

.blocks {
  position: relative;
  width: $block_width * 5 + $name-block_width + 30;
  padding: 20px;
  margin: 0;
  letter-spacing: -.40em;
  list-style-type: none;
}

.stage-block {
  display: inline-block;
  letter-spacing: normal;
  width: $block_width - $block_padding * 2;
  padding: $block_padding;
  margin: 0;
  vertical-align: top;

  .stage-title {
    text-align: center;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 14px;
    color: #e9e9e9;
  }

  &#name-block {
    width: $name-block_width - $name-block_padding-left - $name-block_padding-right;
    margin: 0 $name-block_padding-right 0 $name-block_padding-left;

    .stage-title {
      padding-top: 6px;
      font-size: 18px;
      color: #e9e9e9;
    }
  }


  &#issues-block {
    border-right: solid #996699 3px;
  }

  .cell-block {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    .user-cell-block {
      height: $user_height - $user_padding-height * 2;
      margin-bottom: 60px;
      padding-top: $user_padding-height;
      padding-bottom: $user_padding-height;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .card-list {
        list-style-type: none;
        height: 100%;
        overflow: auto;
      }

      .user-name {
        vertical-align: middle;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 24px;
        font-size: 24px;
        color: #e9e9e9;
      }
    }
  }
}

.card {
  width: $card_width - $card_padding * 2;
  height: $card_height - $card_padding * 2;
  margin: 0 auto 10px;
  padding: $card_padding;
  background-color: #efefef;
  border: solid #909090 1px;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}