@import "basic";

.information-wrap {
  margin-top: 40px;
  & > h2 > .glyphicon {
    font-size: 25px;
    color: #2980b9;
  }
}

.information-container, .outline {
  margin-bottom: 40px;
}

.center-thumbnail-wrap {
  text-align: center;

  .thumbnail {
    display: inline-block;
    margin-right: 20px;
  }
}

.outline {
  h3 {
    margin-top: 10px;
    font-size: 18px
  }
}