<div class="mini-menu">
    <div class="mini-menu-default">
        <button type="button" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
    </div>
    <ul class="mini-menu-list">
        <li data-toggle="modal" data-target="#issue-detail-modal"
            data-bind="click: $root.onClickIssueDetail,
                        tooltip: { title: 'Detail', placement:'left', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </button>
        </li>

        <li data-bind="click: $root.onClickIssueNextStage, tooltip: { title: 'Next stage', placement:'right', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default"
                    data-bind="css: {disabled: stage() === 'backlog' || stage() === 'done'},
                               attr: {disabled: stage() === 'backlog' || stage() === 'done'}">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </li>

        <li data-toggle="modal" data-target="#archive-issue-modal"
            data-bind="click: $root.onClickIssueArchive,
                        tooltip: { title: 'Archive', placement:'right', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </li>

        <li data-toggle="modal" data-target="#assign-issue-modal"
            data-bind="click: $root.onClickIssueAssign,
                        tooltip: { title: 'Assign', placement:'right', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
        </li>

        <!-- ko if: stage() === 'doing' && assigneeMember() && assigneeMember().userName() === '<%= userName %>' -->
        <li data-bind="click: isWorking() ? $root.onClickStopToWork : $root.onClickStartToWork,
                        tooltip: { title: isWorking() ? 'Stop to work' : 'Start to work',
                        placement:'left', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-play" aria-hidden="true" data-bind="
                    css: { 'glyphicon-play' : !isWorking(), 'glyphicon-stop': isWorking() }"></span>
            </button>
        </li>
        <!-- /ko -->

        <!-- ko if: github && github().url -->
        <li>
            <a target="_blank" class="btn btn-sm btn-default" href="" data-bind="attr: { href: github().url },
                tooltip: { title: 'GitHub link', placement:'right', delay: { show: 200, hide: 100 } }">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </a>
        </li>
        <!-- /ko -->

        <li data-bind="click: $root.onClickIssuePrevStage, tooltip: { title: 'Prev stage', placement:'left', delay: { show: 200, hide: 100 } }">
            <button type="button" class="btn btn-sm btn-default"
                    data-bind="css: {disabled: stage() === 'issue' || stage() === 'done'},
                               attr: {disabled: stage() === 'issue' || stage() === 'done'}">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </li>
    </ul>
</div>
