<!-- alerts -->
<!-- ko if: $root.alerts -->
<div class="alerts" data-bind="foreach: {
                data: alerts,
                afterAdd: view.effects.fadeIn,
                beforeRemove: view.effects.fadeOut }">
    <div class="alert alert-item fade in" data-bind="css: { 'alert-success': isSuccess, 'alert-danger': !isSuccess }">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong data-bind="text: title+': '"></strong>
        <span data-bind="text: message"></span>
    </div>
</div>
<!-- /ko -->