<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/basic.css'/>
</head>
<body>

<div class="main">  
    <div class="container">
        <h1><%= displayTitle %></h1>
        <a href="/auth/github">Login with GitHub</a>
    </div>
</div>

</body>
</html>
