/* line 5, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../scss/_common.scss */
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* line 12, ../../scss/_common.scss */
.main {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: #fdfdfd;
}

/* line 23, ../../scss/_common.scss */
.container {
  margin-top: 20px;
}

/* line 26, ../../scss/kanban.scss */
.blocks {
  position: relative;
  width: 1590px;
  padding: 20px;
  margin: 0;
}

/* line 33, ../../scss/kanban.scss */
.stage-blocks {
  position: relative;
  letter-spacing: -.40em;
  list-style-type: none;
}

/* line 39, ../../scss/kanban.scss */
.stage-block {
  display: inline-block;
  letter-spacing: normal;
  width: 280px;
  padding: 10px;
  margin: 0;
  vertical-align: top;
}
/* line 47, ../../scss/kanban.scss */
.stage-block:nth-child(odd) {
  background: #fae0ff;
}
/* line 51, ../../scss/kanban.scss */
.stage-block:nth-child(even) {
  background: #fceaff;
}
/* line 55, ../../scss/kanban.scss */
.stage-block .stage-title {
  text-align: center;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 14px;
  color: #222;
}
/* line 63, ../../scss/kanban.scss */
.stage-block#name-block {
  width: 170px;
  margin: 0 10px 0 60px;
}
/* line 67, ../../scss/kanban.scss */
.stage-block#name-block .stage-title {
  padding-top: 6px;
  font-size: 18px;
  color: #222;
}
/* line 74, ../../scss/kanban.scss */
.stage-block#issues-block {
  margin-right: 60px;
  border-radius: 5px;
}
/* line 79, ../../scss/kanban.scss */
.stage-block#todo-block {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 83, ../../scss/kanban.scss */
.stage-block#done-block {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}
/* line 87, ../../scss/kanban.scss */
.stage-block .cell-block {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
/* line 92, ../../scss/kanban.scss */
.stage-block .cell-block .dummy-user-cell-block {
  height: 132px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
/* line 99, ../../scss/kanban.scss */
.stage-block .cell-block .dummy-user-cell-block:last-child {
  margin-bottom: 50px;
}

/* line 106, ../../scss/kanban.scss */
ul.user-blocks {
  position: absolute;
  top: 0;
  margin: 80px 0 0 330px;
}
/* line 111, ../../scss/kanban.scss */
ul.user-blocks li.user-block {
  position: relative;
  background-color: rgba(242, 242, 242, 0.6);
  width: 1260px;
  height: 175px;
  border-radius: 20px;
  margin-bottom: 30px;
  z-index: 5;
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
/* line 121, ../../scss/kanban.scss */
ul.user-blocks li.user-block .user-name {
  font-size: 12px;
  height: 12px;
  color: #222;
  background-color: rgba(229, 229, 229, 0.6);
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 7px 8px 6px 8px;
  -moz-border-radius: 20px 0 20px 0;
  -webkit-border-radius: 20px;
  border-radius: 20px 0 20px 0;
  display: inline-block;
  position: absolute;
  z-index: 6;
}
/* line 135, ../../scss/kanban.scss */
ul.user-blocks li.user-block .stage-blocks {
  margin-left: 30px;
}
/* line 138, ../../scss/kanban.scss */
ul.user-blocks li.user-block .stage-blocks .stage-block {
  background-color: inherit;
}
/* line 141, ../../scss/kanban.scss */
ul.user-blocks li.user-block .stage-blocks .stage-block .user-cell-block {
  margin: 20px 0 0 0;
  padding: 0;
}

/* line 150, ../../scss/kanban.scss */
.user-cell-block {
  height: 120px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
/* line 157, ../../scss/kanban.scss */
.user-cell-block .card-list {
  list-style-type: none;
  height: 100%;
  overflow: auto;
}

/* line 164, ../../scss/kanban.scss */
.card {
  width: 238px;
  height: 38px;
  margin: 0 auto 10px;
  padding: 6px;
  background-color: #fefefe;
  -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
  display: block;
}

/* line 177, ../../scss/kanban.scss */
.container {
  margin: 20px 20px 0;
}
/* line 180, ../../scss/kanban.scss */
.container h1 {
  font-size: 32px;
  height: 48px;
}
